@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: ''Poppins', sans-serif';
    background: #fafafa;
    overflow-y: hidden;
    overflow-x: hidden;
}

td:hover {
    cursor: pointer;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.odd {
    background-color: rgba(212, 204, 204, 0.2) !important;
}

#content {
    height: 400px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    min-height: 100vh;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: visible;
}

#map {
    height: 900px;
    margin-top: 1%;
}

.row {
    padding: 1%;
}


table {
    table-layout: fixed;
}

td {
    white-space: pre-wrap !important;
    word-wrap:break-word;
}

.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 50px;
    background-color: #ccccccc9;
}

.card {
    margin-bottom: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    /* 5px rounded corners */
}