@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@media (min-width: 768px) {
    .flex-group {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: flex-end;
              align-items: flex-end;
    }
    .form-horizontal .flex-group .control-label {
      padding-top: 0;
    }
  }

  
  
.readOnly {
    background-color: #d5523e;
    background: green;
}
    
body {
    font-family: ''Poppins', sans-serif';
    background: #fafafa;
    overflow-y: hidden;
    overflow-x: hidden;
}

.tooltip-inner {
    text-align: justify;
    text-justify: inter-word;
    max-width: 350px;
}

td:hover {
    cursor: pointer;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.odd {
    background-color: rgba(212, 204, 204, 0.2) !important;
}

#content {
    height: 400px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    min-height: 100vh;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: visible;
}

#map {
    height: 900px;
    margin-top: 1%;
}

.row {
    padding: 1%;
}

td {
    white-space: pre-wrap !important;
    word-wrap: break-word;
}

.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 50px;
    background-color: #ccccccc9;
}

.card {
    margin-bottom: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    /* 5px rounded corners */
}


.tagify {
    --tag-bg: #3e7ad5;
    --tag-hover: rgba(91, 146, 228, 0.56);
    --tag-text-color: white;
    --tag-text-color--edit: white;
    border-radius: 1%;
    width: 100%;
}

.tagify__tag:hover {
    cursor: pointer;
}


.unwanted-item {
    --tag-bg: #d5523e;
    --tag-hover: #d5523e6d;
}